@import "tailwindcss";

@theme {
  --color-primary: #68b1c8;
  --color-bg: #000408;
  --color-surface: #262c31;
  --color-muted: #838d9b;
  --color-text: #d9d9d9;
}

body {
  font-family: "Manrope";
}

/* ===== Swiper (Mobile First) ===== */

.mySwiper {
  width: 80%;
  padding-inline: 24px;
  padding-bottom: 60px;
  margin-top: 100px;
}

.mySwiper .swiper-slide {
  width: 327px;
  height: auto;
}

.mySwiper img {
  width: 100%;
  display: block;
}

.swiper-slide img {
  width: 320px;
  height: 180px;
}

/* ===== Tablet ===== */

@media (min-width: 768px) {
  .mySwiper {
    padding-inline: 32px;
  }
}

/* ===== Desktop ===== */

@media (min-width: 1024px) {
  .mySwiper {
    padding-inline: 45px;
  }
}
