@import "tailwindcss";

@theme {
  --color-primary: #68b1c8;
  --color-bg: #000408;
  --color-surface: #262c31;
  --color-muted: #838d9b;
  --color-text: #d9d9d9;
}

body {
  font-family: "Manrope";
}

.mySwiper {
  width: 80%;
  padding-bottom: 60px;
}

.mySwiper .swiper-slide {
  width: 320px;
}

.mySwiper img {
  width: 100%;
  display: block;
}